<div class="container requests">
  <h3>Current Requests</h3>
  <div class="table-responsive">
    <form action='/requests/delete' method='post'>
    <table class='requests table currentRequests'>
      <tr>
        <th>Request No.</th>
        <th>Item</th>
        <th>Price</th>
        <th>Qty.</th>
        <th>Vendor</th>
        <th>URL</th>
        <th>Requestor</th>
        <th>Date</th>

        <th>Delete</th>
      </tr>

        <% @current_requests.each do |request| %>

        <tr>
          <td><%=request.id %></td>
          <td><%=request.item %></td>
          <td><%=request.price %></td>
          <td><%=request.quantity %></td>
          <td><%=request.vendor %></td>
          <td><%=request.url %></td>
          <% if !!request.user%>
          <td><%=request.user.name %></td>
          <%else%>
          <td></td>
          <%end%>
          <td><%=request.created_at %></td>
          <td>
            <input type="checkbox" name="request[request_ids][]" value="<%=request.id%>" class="requestDeleteCheck btn-primary"/>
          </td>
        </tr>
        <%end%>

        <br></table>
    </div><br>
    <input id="deleteForm" class="btn btn-primary" type="submit" value="Delete"/><br>
  </form>
  <form id="allRequestsForm" action="/requests" method='get'>
    <input type="submit" class="btn btn-primary" value="All Requests">

  </form><br>

  <form id="editForm" action="/requests/edit" method='get'>
    <input type="submit" class="btn btn-primary" value="Edit Requests">

  </form><br>
  <form id="newForm" action="/requests/new" method='get'>
    <input type="submit" class="btn btn-primary" value="New Requests">

  </form><br>
  <form id="logout" action="/logout" method='post'>
    <input type="submit" class="btn btn-primary" value="logout">

  </form>

  <div class="table-responsive completedRequests">
<h2>Ordered Requests</h2>
    <table class='requests table '>
      <tr>
        <th>Request No.</th>
        <th>Item</th>
        <th>Price</th>
        <th>Qty.</th>
        <th>Vendor</th>
        <th>URL</th>
        <th>Requestor</th>
        <th>Date</th>


      </tr>

        <% @ordered_requests.each do |request| %>

        <tr>
          <td><%=request.id %></td>
          <td><%=request.item %></td>
          <td><%=request.price %></td>
          <td><%=request.quantity %></td>
          <td><%=request.vendor %></td>
          <td><%=request.url %></td>
          <% if !!request.user%>
          <td><%=request.user.name %></td>
          <%else%>
          <td></td>
          <%end%>
          <td><%=request.created_at %></td>

        <%end%>

        <br></table>
    </div><br>
</div>
